@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Salve um Animal!</h1>
    <p>Ter um pet em casa faz bem para a saúde! 
    Vários estudos já mostraram o bem que um pet faz à saúde das pessoas. 
    Além disso, ter um animalzinho em casa resulta em passeios que estimulam os exercícios, melhoram a pressão sanguínea e evita que o dono apresente indícios de depressão, ansiedade ou estresse.</p>
</div>
